.container {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 1rem;
  border-top: 1px solid #c4c4c4;
  justify-content: center;
  align-items: center;
  color: #3A4257;
  background-color: #F0DDBC;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #3A4257;
  background-color: #F0DDBC;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  transition: .1s ease all;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 0 10px 1px grey;
  transform: translateY(-10px);
}

.card h4 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
